body{
    text-align: center;
    background-image: url("../images/cars.png");
}
h1{
    font-size: 50px;
    text-align: center;
    background: orange;
}
#wrapper{
    background: orange;
    
    
    margin: 0 auto;
    margin-top: 130px;
    padding: 20px;
}
#start{
    
    color: black;
    font-size: 25px;
}
div {
    color: black;
    font-size: 30px;

}
#incompleteword{
    letter-spacing: 10px;
}
